.glass-icon1 {
  position: absolute;
  top: 719.36px;
  left: 900.15px;
  border-radius: 15px;
  width: 315px;
  height: 510px;
}
.blur-icon1 {
  position: absolute;
  top: 273px;
  left: 1px;
  width: 776px;
  height: 776px;
  opacity: 0.35;
}
.merklabs-is-a-reputed-name-in1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 45px;
  display: inline-block;
  background: linear-gradient(90deg, #fff, #2f7feb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 830px;
}
.text-div1 {
  position: absolute;
  top: 795px;
  left: 46px;
  width: 830px;
  height: 270px;
  font-size: 31px;
}
.ellipse-icon13,
.group-icon21 {
  position: absolute;
  top: 768.76px;
  left: 948px;
  width: 11.86px;
  height: 439.46px;
}
.ellipse-icon13 {
  height: 1.23%;
  width: 1.15%;
  top: 53.5%;
  right: 36.02%;
  bottom: 45.27%;
  left: 62.82%;
  max-width: 100%;
  max-height: 100%;
}
.analyses-available-per-month1,
.blockchain-companies-protected1,
.issues-discovered-b1 {
  position: absolute;
  top: 812px;
  left: 1009px;
  display: inline-block;
  color: #f3f3f3;
}
.analyses-available-per-month1,
.issues-discovered-b1 {
  top: 943px;
}
.analyses-available-per-month1 {
  top: 1116px;
  left: 1000px;
}
.p15 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.b5,
.b6 {
  left: 1009px;
  font-size: 41px;
  text-shadow: 0 4px 37px rgba(255, 255, 255, 0.25);
}
.b5 {
  position: absolute;
  top: 757px;
  display: inline-block;
}
.b6 {
  top: 890px;
}
.b6,
.b7,
.we-provide-blockchain-developm1 {
  position: absolute;
  display: inline-block;
}
.b7 {
  top: 1064px;
  left: 1009px;
  font-size: 41px;
  text-shadow: 0 4px 37px rgba(255, 255, 255, 0.25);
}
.we-provide-blockchain-developm1 {
  top: 0;
  left: 161px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 900;
  width: 596px;
}
.we-provide-the-best-to-protect1 {
  position: absolute;
  top: 674px;
  left: 46px;
  font-size: 39px;
  line-height: 48px;
  display: inline-block;
  width: 818px;
  text-shadow: 0 4px 37px rgba(255, 255, 255, 0.25);
}
.counting-div1 {
  position: absolute;
  top: 420px;
  left: -1px;
  width: 1388px;
  height: 1299px;
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-family: Montserrat;
}
