.copyright-20211 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.design-by-merk1 {
  margin: 0;
}
.copyright-2021-design-by-mer1 {
  position: absolute;
  height: 10.6%;
  width: 23.67%;
  top: 66.23%;
  right: 74.05%;
  bottom: 23.18%;
  left: 2.27%;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
}
.company-div1,
.resources-div1,
.services-div1 {
  position: absolute;
  height: 2.81%;
  width: 7.67%;
  top: 57.62%;
  right: 65.34%;
  bottom: 39.57%;
  left: 26.99%;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
.company-div1,
.resources-div1 {
  width: 7.95%;
  right: 40.34%;
  left: 51.7%;
}
.resources-div1 {
  width: 9.56%;
  right: 14.02%;
  left: 76.42%;
}
.about-div1,
.app-development-div1,
.contact-div8,
.documentation-div1,
.support-div1,
.web-development-div1 {
  position: absolute;
  height: 4.64%;
  width: 14.39%;
  top: 63.91%;
  right: 58.62%;
  bottom: 31.46%;
  left: 26.99%;
  line-height: 28px;
  display: inline-block;
}
.about-div1,
.app-development-div1,
.contact-div8,
.documentation-div1,
.support-div1 {
  width: 4.73%;
  right: 43.56%;
  left: 51.7%;
}
.app-development-div1,
.contact-div8,
.documentation-div1,
.support-div1 {
  width: 6.25%;
  right: 17.33%;
  left: 76.42%;
}
.app-development-div1,
.contact-div8,
.documentation-div1 {
  width: 14.02%;
  top: 70.2%;
  right: 59%;
  bottom: 25.17%;
  left: 26.99%;
}
.contact-div8,
.documentation-div1 {
  width: 6.06%;
  right: 42.23%;
  left: 51.7%;
}
.documentation-div1 {
  width: 12.22%;
  right: 11.36%;
  left: 76.42%;
}
.consultation-div1,
.license-div1,
.privacy-policy-div1,
.send-quote-div1,
.sitemap-div1,
.ui-design-div1 {
  position: absolute;
  height: 4.64%;
  width: 7.48%;
  top: 76.49%;
  right: 65.53%;
  bottom: 18.87%;
  left: 26.99%;
  line-height: 28px;
  display: inline-block;
}
.consultation-div1,
.license-div1,
.privacy-policy-div1,
.send-quote-div1,
.sitemap-div1 {
  width: 9.09%;
  right: 39.2%;
  left: 51.7%;
}
.consultation-div1,
.license-div1,
.privacy-policy-div1,
.sitemap-div1 {
  width: 5.78%;
  right: 17.8%;
  left: 76.42%;
}
.consultation-div1,
.privacy-policy-div1,
.sitemap-div1 {
  width: 9.75%;
  top: 82.78%;
  right: 63.26%;
  bottom: 12.58%;
  left: 26.99%;
}
.privacy-policy-div1,
.sitemap-div1 {
  width: 10.32%;
  right: 37.97%;
  left: 51.7%;
}
.sitemap-div1 {
  width: 6.44%;
  right: 17.14%;
  left: 76.42%;
}
.maintenance-div1,
.term-of-service1 {
  height: 4.64%;
  top: 89.07%;
  bottom: 6.29%;
  line-height: 28px;
}
.maintenance-div1 {
  position: absolute;
  width: 10.04%;
  right: 62.97%;
  left: 26.99%;
  display: inline-block;
}
.term-of-service1 {
  width: 11.65%;
  right: 36.65%;
  left: 51.7%;
}
.jobs-div1,
.merk-b1,
.term-of-service1 {
  position: absolute;
  display: inline-block;
}
.jobs-div1 {
  height: 4.64%;
  width: 3.5%;
  top: 95.36%;
  right: 44.79%;
  bottom: 0;
  left: 51.7%;
  line-height: 28px;
}
.merk-b1 {
  height: 4.8%;
  width: 6.16%;
  top: 58.11%;
  right: 87.69%;
  bottom: 37.09%;
  left: 6.16%;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.vector-icon21 {
  position: absolute;
  height: 3.73%;
  width: 2.13%;
  top: 58.24%;
  right: 95.34%;
  bottom: 38.04%;
  left: 2.53%;
  max-width: 100%;
  max-height: 100%;
}
.weve-prepared-everything-it1 {
  position: absolute;
  height: 50.53%;
  width: 56.69%;
  top: 24.74%;
  right: 39.71%;
  bottom: 24.74%;
  left: 3.6%;
  font-size: 30px;
  line-height: 48px;
  display: inline-block;
  text-align: left;
}
.horizontal-line-div5 {
  position: absolute;
  height: 0.53%;
  width: 98.56%;
  top: 0;
  right: 1.44%;
  bottom: 99.47%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
}
.button-div23 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.button-div22 {
  position: absolute;
  top: calc(50% - 26px - 0px);
  left: calc(50% - 102.65px - -235.29px);
  border-radius: 3px;
  background-color: #6016fc;
  display: none;
  flex-direction: row;
  padding: 15px 55px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Noto Sans;
}
.button-div25 {
  position: relative;
  font-weight: 600;
  display: none;
}
.button-div24,
.horizontal-line-div6 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}
.button-div24 {
  top: calc(50% - 26px - 0px);
  left: calc(50% - 82.33px - -430.43px);
  border-radius: 3px;
  display: none;
  flex-direction: row;
  padding: 15px 55px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Noto Sans;
}
.horizontal-line-div6 {
  height: 0.53%;
  width: 98.56%;
  top: 99.47%;
  right: 1.44%;
  bottom: 0;
  left: 0;
}
.rectangle-icon19 {
  position: absolute;
  height: 35.42%;
  width: 16.19%;
  top: 37.74%;
  right: 3.98%;
  bottom: 26.84%;
  left: 79.83%;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
.ask-b1 {
  position: absolute;
  height: 13.16%;
  width: 3.88%;
  top: 47.37%;
  right: 10.42%;
  bottom: 39.47%;
  left: 85.7%;
  font-size: 21px;
  line-height: 120%;
  display: inline-block;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
}
.rectangle-icon20 {
  position: absolute;
  height: 35.42%;
  width: 16.19%;
  top: 37.74%;
  right: 22.26%;
  bottom: 26.84%;
  left: 61.55%;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
.send-quote-b1 {
  position: absolute;
  height: 10.53%;
  width: 9.94%;
  top: 49.47%;
  right: 25.66%;
  bottom: 40%;
  left: 64.39%;
  font-size: 17px;
  line-height: 120%;
  display: inline-block;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
}
.banner-div3,
.callout-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1056px;
  height: 190px;
}
.callout-div1 {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.04);
}
.banner-div3 {
  text-align: center;
  color: #fff;
}
.footer-div1 {
  position: absolute;
  height: 4.35%;
  width: 73.49%;
  top: 95.06%;
  right: 12.87%;
  bottom: 0.59%;
  left: 13.64%;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Montserrat;
}
