.group-icon16 {
  position: absolute;
  top: 0;
  left: 328px;
  width: 274px;
  height: 254px;
  opacity: 0.5;
}
.we-love-developers1 {
  position: absolute;
  width: 21.52%;
  top: calc(50% - 32.5px - 200px);
  right: 37.65%;
  left: 40.83%;
  font-size: 28px;
  line-height: 65px;
  font-weight: 500;
  color: #618dff;
  text-align: right;
  display: inline-block;
}
.nullam-varius-portti1 {
  position: absolute;
  height: 16.69%;
  width: 33.37%;
  top: 29.1%;
  right: 31.09%;
  bottom: 54.21%;
  left: 35.54%;
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
}
.glass-box-div3,
.slide-menu-div3 {
  position: absolute;
  left: 0;
  width: 370px;
  height: 286px;
}
.glass-box-div3 {
  top: 0;
  border-radius: 20px;
  background: linear-gradient(
    123.64deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.03)
  );
  backdrop-filter: blur(18px);
}
.slide-menu-div3 {
  top: 359px;
}
.lorem-ipsum-is-simply-dummy-te3 {
  position: absolute;
  top: 415px;
  left: 18.07px;
  font-size: 10.18px;
  letter-spacing: 0.03em;
  line-height: 32.64px;
  font-weight: 500;
  display: inline-block;
  width: 362px;
  height: 129.76px;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.slide-menu-div4 {
  position: absolute;
  top: 359px;
  left: 764px;
  width: 370px;
  height: 286px;
}
.lorem-ipsum-is-simply-dummy-te4 {
  position: absolute;
  top: 26px;
  left: 0.07px;
  letter-spacing: 0.03em;
  line-height: 32.64px;
  font-weight: 500;
  display: inline-block;
  width: 362px;
  height: 129.76px;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.group-icon17 {
  position: absolute;
  top: 148.68px;
  left: 130.84px;
  width: 73.48px;
  height: 73.49px;
}
.founder-of-awesomeux-technolog4,
.john-smith-div4 {
  position: absolute;
  line-height: 27.49px;
  display: inline-block;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.john-smith-div4 {
  top: 205px;
  left: 118.02px;
  font-size: 14.32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  color: #e0e0e0;
}
.founder-of-awesomeux-technolog4 {
  top: 224px;
  left: 65.02px;
  font-size: 11.46px;
  font-weight: 300;
  color: #b6bccc;
}
.augs-2018-by-j4,
.technology-div6 {
  position: absolute;
  width: 37.93%;
  top: calc(50% - 10px - 0px);
  right: 62.07%;
  left: 0;
  line-height: 20px;
  display: inline-block;
}
.technology-div6 {
  width: 45.52%;
  top: calc(50% - 8.5px - 1.5px);
  right: 0;
  left: 54.48%;
  line-height: 17px;
}
.rectangle-div111 {
  position: absolute;
  height: 75%;
  width: 0.69%;
  top: 0;
  right: 52.41%;
  bottom: 25%;
  left: 46.9%;
  border-radius: 5px;
  border: 1px solid #888;
  box-sizing: border-box;
}
.blog-blocks-div4,
.group-div38 {
  position: absolute;
  width: 100%;
  top: calc(50% - 10px - 0px);
  right: 0;
  left: 0;
  height: 20px;
}
.blog-blocks-div4 {
  width: 40.05%;
  top: calc(50% - 10px - 116.07px);
  right: 57.74%;
  left: 2.21%;
  text-align: left;
  font-size: 10px;
  color: #888;
  font-family: Poppins;
}
.group-div37 {
  position: absolute;
  top: 388px;
  left: 761px;
  width: 362.07px;
  height: 252.13px;
  font-size: 8.18px;
}
.glass-box-div5,
.slide-menu-div5 {
  position: absolute;
  width: 465px;
  height: 358px;
}
.glass-box-div5 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    123.64deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.03)
  );
  backdrop-filter: blur(18px);
}
.slide-menu-div5 {
  top: 319px;
  left: 335px;
}
.lorem-ipsum-is-simply-dummy-te5 {
  position: absolute;
  top: 389px;
  left: 394.07px;
  font-size: 13.18px;
  letter-spacing: 0.03em;
  line-height: 32.64px;
  font-weight: 500;
  display: inline-block;
  width: 362px;
  height: 129.76px;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.group-icon18,
.icon1 {
  position: absolute;
  top: 542.68px;
  left: 521.83px;
  width: 87.63px;
  height: 91.14px;
}
.icon1 {
  top: 390.01px;
  left: 361px;
  width: 32.35px;
  height: 26.32px;
}
.founder-of-awesomeux-technolog5,
.john-smith-div5 {
  position: absolute;
  line-height: 27.49px;
  display: inline-block;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.john-smith-div5 {
  top: 614px;
  left: 509.02px;
  font-size: 16.32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  color: #e0e0e0;
}
.founder-of-awesomeux-technolog5 {
  top: 635.98px;
  left: 437.02px;
  font-size: 14.46px;
  font-weight: 300;
  color: #b6bccc;
}
.group-icon19 {
  position: absolute;
  top: 537.68px;
  left: 148.84px;
  width: 73.48px;
  height: 73.49px;
}
.founder-of-awesomeux-technolog6,
.john-smith-div6 {
  position: absolute;
  line-height: 27.49px;
  display: inline-block;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.john-smith-div6 {
  top: 594px;
  left: 140.02px;
  font-size: 14.32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Prompt;
  color: #e0e0e0;
}
.founder-of-awesomeux-technolog6 {
  top: 612.99px;
  left: 78.02px;
  font-size: 11.46px;
  font-weight: 300;
  font-family: IBM Plex Mono;
  color: #b6bccc;
}
.blog-blocks-div5,
.blog-blocks-div6 {
  position: absolute;
  width: 12.79%;
  top: calc(50% - 10px - -17.5px);
  right: 54.32%;
  left: 32.89%;
  height: 20px;
  text-align: left;
  color: #888;
  font-family: Poppins;
}
.blog-blocks-div6 {
  top: calc(50% - 10px - -60.5px);
  right: 84.92%;
  left: 2.29%;
}
.founder-of-awesomeux-technolog7,
.john-smith-div7 {
  position: absolute;
  line-height: 27.49px;
  display: inline-block;
  transform: rotate(0.04deg);
  transform-origin: 0 0;
}
.john-smith-div7 {
  top: 594px;
  left: 136.02px;
  font-size: 14.32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  color: #e0e0e0;
}
.founder-of-awesomeux-technolog7 {
  top: 613px;
  left: 83.02px;
  font-size: 11.46px;
  font-weight: 300;
  color: #b6bccc;
}
.review-div1 {
  position: absolute;
  top: 11372px;
  left: 136px;
  width: 1134px;
  height: 677px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-family: Montserrat;
}
